@import "utilities/variables";

@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

/*RESET*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

/*MAIN INICIO*/

.inicio-contenedor-img{
    text-align: center;
    background-image: url(../img/descuentos.jpg);
    @include sizes(100%, 95vh);
    .inicio-img-descuentos{
        @include sizes(70%, 96vh);
        object-fit: cover;
    }
}

.inicio-contenedor-nosotros{
    @include flex;
    @include sizes(100%, 94vh);
    text-align: center;
    background-color: $nosotros-bg;
    .inicio-img-nosotros{
        @include sizes(70vh, 70vh);
        background-color: white;
        padding: 10px;
        img{
            @include sizes(100%, 100%);
            border-radius: 100%;
            animation-name: girar;
            animation-iteration-count: infinite;
            animation-duration: 60s;
        }
        @keyframes girar{
            from{
                transform: rotate(0);
            }
            to{
                transform: rotate(360deg);
            }
        }
    }
    .inicio-div-nosotros{
        @include sizes(70vh, 70vh);
        font-size: 25px;
        background-color: white;
        padding: 0 1% 0 0;
        p{
            color: black;
            padding-top: 30%;
        }
    }
}

.bacground-mas-vendidos{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    .contenedor-mas-vendidos{
        text-align: center;
        background-image: url(../img/bg2.jpeg);
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-areas: "titulo titulo titulo"
                             "seccion1 seccion2 seccion3";
        box-shadow: 0px 0px 15px $shadow;
        .mas-vendidos__titulo{
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 3vh;
            grid-area: titulo;
        }
        .seccion1{
            grid-area: seccion1;
        }
        .seccion2{
            grid-area: seccion2;
        }
        .seccion3{
            grid-area: seccion3;
        }
        .mas-vendidos__celda{
            display: inline-block;
            .mas-vendidos__foto{
                @include sizes(370px, 400px);
                text-align: center;
                margin: 3vh 0px 3vh 0px;
                transition: .6s;
                box-shadow: 0px 0px 15px $shadow;
            }
            .mas-vendidos__foto:hover{
                transform: scale(1.05);
            }
            .mas-vendidos__nombre{
                text-align: center;
                margin-top: 5vh;
                font-size: 25px;
                padding-bottom: 5vh;
            }
        }
    }
}

/*MAIN COLECCION*/

%button-comprar{
    background-color: $brown2;
    border: none;
}

.brown{
    background-color: $brown;
    border: none;
    transition: .5s;
}
.brown:hover{
    @extend %button-comprar;
}
.brown:focus{
    @extend %button-comprar;
}
.card{
    transition: .5s;
    box-shadow: 0px 0px 5px $shadow;
}
.card:hover{
    transform: scale(1.02);
}

/*MAIN INFORMACION*/

.bg-info{
    background-image: url(../img/bg-info.png);
    width: 100%;
    padding: 100px;
    .contenedor-info{
        background-color: white;
        width: 100%;
        margin: auto;
        padding: 10px;
        text-align: center;
        .titulo-info{
            margin: 5px;
            font-size: 35px;
        }
        .pregunta{
            margin: 40px;
            font-size: 25px;
        }
    }
}

/*MAIN CONTACTANOS*/

.contactanos-color{
    background-color: $contactanos-bg;
    height: 100vh;
    .contactanos-footer{
        width: 100%;
        text-align: center;
        .contactanos-contenedor-redes{
            text-align: center;
            .contactanos-icono-redes{
                display: inline-block;
                width: 300px;
                margin: 0 100px;
                padding-top: 11%;
                transition: 0.7s;
            }
            .contactanos-icono-redes:hover{
                transform: scale(1.1);
            }
        }
        .contactanos-contenedor-copyright{
            position: fixed;
            bottom: 0px;
            width: 100%;
            .contactanos-copyright{
                text-align: center;
            }
        }
    }
}

/*FOOTER*/

footer{
    width: 100%;
    background-color: white;
    padding: 0% 2% 0% 2%;
    .separador-redes{
        display: flex;
        padding: 35px 0px 50px 0px;
        align-items: center;
        transition: 0.7s;
        .icono-redes{
            height: 12vh;
        }
        .nombre-redes{
            font-size: 30px;
            @include sizes(200px, 100px);
            display: flex;
            align-items: center; 
        }
    }
    .separador-redes:hover{
        transform: scale(1.01);
    }
    .contenedor-copyright{
        padding-top: 30px;
        .copyright{
            text-align: center;
        }
    }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1300px) {

    /*MAIN INICIO*/

    .inicio-contenedor-img{
        height: 90vh;
        .inicio-img-descuentos{
            @include sizes(100%, 90vh);
        }
    }

    .inicio-contenedor-nosotros{
        flex-direction: column;
        height: 110vh;
        .inicio-img-nosotros{
            @include sizes(300px, 300px);
        }
        .inicio-div-nosotros{
            @include sizes(300px, 350px);
            font-size: 20px;
        }
    }

    .bacground-mas-vendidos{
        background-color: white;
        padding: 1vh 0vh 1vh 0vh;
        .contenedor-mas-vendidos{
            width: 80%;
            background-color: white;
            grid-template-areas: "titulo"
                                 "seccion1"
                                 "seccion2"
                                 "seccion3";
            .mas-vendidos__titulo{
               @include flex;
               padding: 2vh 0vh 2vh 0vh;
               grid-area: titulo;
               @include sizes(80%, 10vh);
               background-color: white;
               margin: auto;
               position: relative;
               bottom: 3vh;
            }
            .mas-vendidos__celda{
                background-color: white;
                padding: 5% 5% 20% 5%;
                margin: 15px 0px 15px 0px;
                .mas-vendidos__foto{
                    @include sizes(250px, 300px);
                    margin: 0px;
                }
                
                .mas-vendidos__nombre{
                    margin-top: 1vh;
                    font-size: 18px;
                }
            }
        }
    }

    /*MAIN INFORMACION*/

    .bg-info{
        padding: 0px 0px;
        .contenedor-info{
            background-color: transparent;
            .titulo-info{
                margin: 5px;
                font-size: 35px;
                background-color: white;
                opacity: .9;
            }
            .pregunta{
                background-color: white;
                opacity: .9;
            }
        }
    }

    /*MAIN CONTACTANOS*/

    .contactanos-footer{
        height: 95vh;
        padding-top: 7vh;

    }
    .contactanos-icono-redes{
        width: 210px;
        margin: 0px 0px;
    }

    .contactanos-color{
        height: 100vh;
        .contactanos-footer{
            height: 95vh;
            padding-top: 7vh;
            .contactanos-contenedor-redes{
                text-align: center;
                .contactanos-icono-redes{
                    width: 210px;
                    margin: 0px 0px;
                }
            }
        }
    }


    /*FOOTER*/

    footer{
        height: 9vh;
        .contenedor-redes{
            @include flex;
            .separador-redes{
                padding: 50px 20px 50px 20px;
                .icono-redes{
                    height: 140px;
                }
                .nombre-redes{
                    display: none;
                }
            }
        }
    }
}